
<table style="width:100%;">
    <tr>
        <td width="80%">
            <canvas-with-controls id="canvasWithControls"/>
        </td>
        <td width="20%">
            <div id="userchatwindow" style="height:80%;"></div>
            <div>
                <button id="togglemic">🎤</button>
                <button id="togglevid">🎥</button>
            </div>
            <div>
                <textarea id="chatinput" placeholder="Type your message here...">
                <button id="sendmsg">💬</button>
            </div>
        </td>
    </tr>
</table>